{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link rel="icon" href="{% static 'images/medal.png' %}"> {% if title %}
    <title>Awwwards - {{title}}</title>
    {% else %}
    <title>My_hub </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    {% endblock %}

</head>

<style>
    span{
       
        margin-right: 100px;
        padding-top:0px 10px;
    }
    .top{
        color:blueviolet;
    }
</style>


<body>
    <section class="top">

<div class="container">



        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">My_Hood</a>
                <a  href="/admin" class="nav-item navbar-brand" active-color="black"><i class="fas fa-user-tie"></i>&nbsp;Admin Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'account' %}"> Profile</a>
                        </li>
                        
                        
                    </ul>
                    <form class="d-flex" role="search" action="{% url 'search_results' %}">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <span> Hello, {{request.user}}  </span>
            <span><a href=" {% url 'logout' %}">Logout</a></span>
                </div>
            </div>
            
        </nav>
        </div>
    </section>
    </header>
    {% block content %} {% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>