{% extends 'all/base.html' %} {% load static %} {% block head %}
{% endblock %} {% block content %}
<style>
  body {
        background-image: url('https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdyZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        
    }
    h1{
     padding-top: 180px;
    }
</style>
<div class="container">
<h1>Add a Neighbourhood</h1>
<form method="POST" action="" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}

  <input class="btn btn-primary" type="submit" name="Update Information">
</form>
{% for neighbour in neighbours%}
<div class="row">
  <div class="col-md-4">
    {{neighbour.name}}
  <img src="{{ neighbour.image.url}}" alt="">

  </div>
  
</div>
  {% endfor %}
</div>


{% endblock %}