{% extends 'all/base.html' %} {% load static %} {% block head %}

{% endblock %}


{% block content %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdyZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    h1 {
        text-align: center;
        padding-top: 20px;
    }
    .buttn {
        background-color: #9E9FCD;
        padding: 10px 5px;
        border: none;
        border-radius:20px;
       margin: 30px;
       color: rgb(230, 208, 103);
    }

    img{
         box-shadow: 5px 5px 7px #9E9FCD;
    }
    
</style>
<h1>Don't have a neighborhood? Add one!</h1>
<button class="buttn" >
    <a class="buttn" href="{% url 'neighbourhood' %}">Add Neighbourhood</a>
</button>

<div class="container-fluid">
    <div class="row">
        {% for neighbour in neighbours%}
        <div class="col-md-4">
            <div class="card mb-4" style="min-height:340px">
                <img src="{{ neighbour.image.url}}" class="img-fluid" alt="{{ neighbour.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ neighbour.name }}</h5> ({{neighbour.location}}) <span
                        class="ml-4">{{hood.members.count}} member{{hood.members.count|pluralize}}</span></h5>

                    <button class="buttn" >
    <a class="buttn" href="{% url 'business' %}">Join Hood</a>
</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}