{% extends 'all/base.html' %} {% load static %} {% block head %}

{% endblock %}


{% block content %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdyZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .circle {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        position: relative;
        
        animation: float 5s ease 2s infinite;
        margin-left: 400px;
    }

    img{
        border-radius: 40%;
        width: 100%;
    }

    .text-circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

    @keyframes float {
        0% {
            top: 0
        }

        25% {
            top: 80px
        }

        50% {
            top: 0
        }

        75% {
            top: 80px
        }

        100% {
            top: 0
        }
    }
    .container-fluid {
        text-align: center
    }
    h1{
        padding-top:200px;
        line-height:65px;
    }

    .buttn {
        background-color: #9E9FCD;
        padding: 10px 15px;
        border: none;
        border-radius:20px;
       margin-top:100px;
       color: rgb(216, 199, 114);
    }

</style>
<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <h1>
            Want to be at the loop of whats happening around you? Join in!
        </h1>
       <a href="{% url 'home' %}"> <button class="buttn">
            Explore Neighbourhoods
        </button></a>
    </div>
    <div class="col-md-4 circle">

        <img class="circle img-fluid" src="https://media.istockphoto.com/photos/residential-community-in-western-usa-with-modern-homes-at-sunrise-picture-id1337285643?b=1&k=20&m=1337285643&s=170667a&w=0&h=Cr6dyN6gg4UtnuW__-YW1wxITO5JNykJSNo3FlFtYCY=" alt="">
    </div>
    <div class="col-md-4 circle">

        <img class="circle img-fluid" src="https://media.istockphoto.com/photos/new-homes-on-a-quiet-street-in-raleigh-nc-picture-id1319269543?b=1&k=20&m=1319269543&s=170667a&w=0&h=9Nv2yeDkHR01ADDhxcY4A1PZx9veOOwPRVnNXT6Jk3c=" alt="">
    </div>
</div>
</div>








{% endblock %}