{% extends 'all/base.html' %} {% load static %} {% block head %}

{% endblock %}


{% block content %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGdyZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .circle {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        position: relative;
        background-color: rgb(175, 172, 172);
        animation: float 5s ease 2s infinite;
    }

    .text-circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

    @keyframes float {
        0% {
            top: 0
        }

        25% {
            top: 80px
        }

        50% {
            top: 0
        }

        75% {
            top: 80px
        }

        100% {
            top: 0
        }
    }
    .container-fluid {
        text-align: center
    }
</style>
<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
        <h1>
            Want to be at the loop of whats happening around you? Explore!
        </h1>
    </div>
    <div class="col-md-4 circle">

        <h3 class="text-cicle">yoh</h3>
    </div>
</div>
</div>








{% endblock %}